body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    text-align: center;
    background-color: #EAF8FF; /* 明るくて鮮やかな背景色 */
}
h1 {
    margin: 0;
    font-size: 2.5em; /* Larger font for more emphasis */
    font-weight: 600px;
}
h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #0056B3; /* 鮮やかな青色のテキスト */
}

header {
    text-align: center;
    background-color: #3F3FEB; /* Bolder turquoise for the header */
    color: white; /* Contrast text for readability */
    padding: 30px;
    margin-top: -10px;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Soft shadow */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

#expenseChart {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* 影を濃く調整 */
}

#expenseDetails {
    margin-top: 20px;
    padding: 15px;
    background-color: #F5FCFF;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 255, 0.2); /* 深みのある影 */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#detailsTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

#detailsTable th {
    background-color: #0073E6; /* 鮮やかな青色 */
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    text-align: left;
}

#detailsTable td {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc;
    color: #333;
}

#detailsTable tr:nth-child(even) {
    background-color: #EBF5FF; /* 淡い背景色で区別 */
}

#detailsTable tr:hover {
    background-color: #D4EDFF; /* ホバー時に鮮やかな背景色 */
}

#prevYear,
#nextYear {
    background-color: #1E90FF; /* 鮮やかな青色 */
    color: #000000;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;;
}

#prevYear:hover,
#nextYear:hover {
    background-color: #104E8B; /* 暗めの青に変化 */
    transform: translateY(-2px); /* 持ち上げる効果 */
}

#currentYear {
    font-size: 30px;
    font-weight: bold;
    margin: 0 20px;
    color: #000000;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.switch-button {
    background-color: #FF6347; /* 鮮やかなオレンジ色 */
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(255, 99, 71, 0.3); /* 強調された影 */
    transition: transform 0.3s, box-shadow 0.3s;
}

.switch-button:hover {
    transform: translateY(-3px); /* ボタンを少し持ち上げる */
    box-shadow: 0 8px 20px rgba(255, 99, 71, 0.4); /* 強調された影 */
}

.switch-button:active {
    transform: translateY(0); /* ボタンを押したときに元の位置に戻す */
    box-shadow: 0 4px 10px rgba(255, 99, 71, 0.2); /* 弱めの影 */
}
