* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
}

.container {
    width: 100%;
    display: flex;
}

.left_side {
    flex: 1;
    justify-items: center;
    align-items: center;
}

.search_window {

}

.search_form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_word_input {
    flex: 3;
}

.search_button {
    flex: 1;
}

.search_word_submit_button { 
}

.search_preset {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.search_preset_item {
}

.right_side {
    flex: 3;
    justify-items: center;
    align-items: center;
}

/* パスワード強度の表示バー */
.safe_param_bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

.bar {
    height: 100%;
    background-color: red; /* 初期値 */
    border-radius: 5px;
}