/* Tailwind CSSで補足が必要なスタイル */

/* 全体 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ヘッダー */
.header {
    height: 60px;
    background-color: #3b82f6; /* Tailwindのblue-500 */
    color: #ffffff; /* Tailwindのwhite */
    padding: 1rem;
    text-align: center;
}

/* メインエリア */
.main {
    display: flex;
    height: calc(100vh - 60px); /* ヘッダーの高さを除外 */
    position: relative;
}

/* ボードエリア */
.board {
    height: 100%;
    flex-grow: 1;
    background-color: skyblue; /* Tailwindのwhite */
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwindのshadow-md */
    overflow: auto;
}

/* チャットエリア */
.chat {
    width: 25%; /* 初期幅を25% */
    background-color: #f3f4f6; /* Tailwindのgray-100 */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwindのshadow-md */
    height: 100%; /* 高さを固定 */
    transition: width 0.3s ease, opacity 0.3s ease;
}

.chat-hidden {
    width: 0; /* 幅を0にすることでスペースを消す */
    opacity: 0; /* 透明にする */
    overflow: hidden; /* コンテンツがはみ出ないようにする */
}

/* チャットヘッダー */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d5db; /* Tailwindのgray-300 */
    padding: 0.5rem;
}

/* チャットメッセージ */
.chat-content {
    flex-direction: column-reverse;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto; /* 縦スクロール可能 */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-content::-webkit-scrollbar {
    display: none; /* スクロールバーを非表示 */
}

.chat-message {
    background: #ffffff; /* メッセージ背景 */
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.chat-message span {
    font-weight: bold;
    color: #3b82f6; /* Tailwindのblue-500 */
}

.chat-message img {
    display: block;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

/* チャット入力欄 */
.chat-footer {
    padding: 1rem;
    background-color: #d1d5db; /* Tailwindのgray-300 */
}

.chat-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
}

/* チャットを開くボタン */
.button-open {
    background-color: #10b981; /* Tailwindのgreen-500 */
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
}

/* チャットを閉じるボタン */
.button-close {
    background-color: #ef4444; /* Tailwindのred-500 */
    color: #ffffff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* Utility */
.hidden {
    display: none;
}